body {
    justify-content: center;
}

.todo-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 2rem;
  background: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: sans-serif;
}

.todo-container h2 {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 2rem;
}

.todo-container input {
  padding: 0.5rem;
  width: 80%;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
}

.todo-container button {
  padding: 0.5rem 1rem;
  margin: 10px;
  background: #007bff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-container button:hover {
  background: #aac9ea;
}

.todo-container ul {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
  color: black;
}

.todo-container li {
  background:bisque;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-container li button {
  background: whitesmoke;
  border-color: black;
  border-style:solid;
  cursor: pointer;
}
